
.header1{
  border: 2px solid black;
}
.logo{border: 2px black solid;
  margin: 20px 0 0 1214px;
  padding: 10px 20px;
display: inline-block;
}

.nav {
  align-items: center;
  margin-bottom: 20px;
}

.nav button {
  padding: 10px 20px;
  border: 2px solid black;
  background: none;}

.home{display: inline-block;
border: 2px solid black;
padding: 10px 20px;
margin-top: 20px;
margin-left: 12px;
}
.about{
  display: inline-block;
border: 2px solid black;
padding: 10px 20px;
margin-top: 20px;
margin-left: 12px;

}
.banner {
 
  border: 2px solid black;
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 12px;
  margin-right: 12px;
}

.card {
    display: inline-block;
  border: 2px solid black;
  /* width: 33.33%; */
  padding: 15px 15px;
  margin: 50px;
  align-items: center;
}

.card .img1 {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0 auto 10px auto;
  border: 2px solid black;
  border-radius: 50%;
}
.box{
  border: 2px solid black;
}
.cards{
  display: inline-block;
  padding-left: 300px;
  text-align: center;
}
.img1{display: inline-block;}